@import '../../styles/variables.scss';
@import '../../styles/light-theme.scss';
@import '../../styles/dark-theme.scss';

@media (max-width: 1024px) {
  .table-of-content {
    display: none;
  }
}

.table-of-content {
  top: 15px;
  flex-grow: 0;
  max-width: 300px;
  max-height: calc(100vh - 30px);
  position: sticky;
  overflow: auto;
  margin-top: 40px;
  padding-right: 10px;
  width: 100%;
  font-size: 14px;

  a {
    display: inline-block;
    padding: 3px 10px;
    box-sizing: border-box;
  }

  ul {
    margin-left: 0;

    ul {
      margin-left: 10px;

      li {
      }
    }
  }

  ::marker {
    content: none;
  }
}

.dark {
  .table-of-content {
    a {
      color: #cecece;
    }
  }
}

.light {
  .table-of-content {
    a {
      color: #3e3e3e;
    }
  }
}
