.content {
  max-width: calc(100% * 3 / 4);
  flex-basis: calc(100% * 3 / 4);
}

@media (max-width: 1024px) {
  .content {
    max-width: 100%;
    flex-basis: 100%;
  }
}

mark {
  border-radius: 5px;
  padding: 0 0.3em;
}
.hltr-red {
  background-color: #ff5582a6;
}

.hltr-pink {
  background-color: #ffb8eba6;
}

.hltr-orange {
  background-color: #ffb86ca6;
}

.hltr-yellow {
  background-color: #fff3a3a6;
}

.hltr-green {
  background-color: #bbfabba6;
}

.hltr-cyan {
  background-color: #abf7f7a6;
}

.hltr-blue {
  background-color: #adccffa6;
}

.hltr-purple {
  background-color: #d2b3ffa6;
}

.hltr-grey {
  background-color: #cacfd9a6;
}
