@import '../../styles/variables.scss';
@import '../../styles/light-theme.scss';
@import '../../styles/dark-theme.scss';

.mobile-table-of-content {
  display: block;

  @media (min-width: 1025px) {
    display: none;
  }

  ul {
    &:first-child {
      margin: 0;
    }
    list-style-type: none;
  }

  ::marker {
    content: none;
  }
}
