@import '../../styles/variables.scss';
@import '../../styles/light-theme.scss';
@import '../../styles/dark-theme.scss';

.floating-button {
  position: fixed;
  right: 20px;
  bottom: 20px;

  border: 0;
  border-radius: 100%;
  padding: 10px;
  cursor: pointer;

  @media (min-width: 1025px) {
    display: none;
  }

  display: flex;
  justify-content: center;
  align-items: center;
}

.light {
  .floating-button {
    color: $dark-link-color; /* 텍스트 색상 지정 */
    background-color: $light-category-background-color;
  }
}

.dark {
  .floating-button {
    color: $dark-link-color; /* 텍스트 색상 지정 */
    background-color: $dark-category-background-color;
  }
}
