.home-header {
  margin-top: 0;
  border-bottom: none;
  font-size: 40px;
  font-family: 'futura', 'Noto Sans CJK KR', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -2px;
}

.link {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}
