@import '../../styles/variables.scss';

.search-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
}

.search {
  display: flex;
}

.search-ul {
  margin: 10px 20px 10px 20px;
}
.category {
  display: inline-block;
  margin-right: 10px;
  border-radius: 15px;
  white-space: normal;
  box-sizing: border-box;
  cursor: pointer;

  padding: 5px 10px;
  font-size: 13px;
  box-sizing: border-box;
}

.light {
  .category {
    border: 1px solid #ecf0f2;
    background-color: #fff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    color: #000;
  }
}

.dark {
  .category {
    border: 1px solid #383636;
    background-color: #282c35;
    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);
    color: #fff;
  }
}

.close-button {
  display: flex;
  justify-content: flex-end;
}
